In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/ckd-dataset-v2.csv')
df.head(20)

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,...,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,...,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,class,meta
2,0,0,1.019 - 1.021,1 - 1,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
3,0,0,1.009 - 1.011,< 0,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
4,0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,...,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
5,1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
6,0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,...,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20
7,1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,102.115 - 127.281,s1,0,12 - 20
8,0,0,1.019 - 1.021,3 - 3,ckd,0,< 0,0,0,0,...,1,1,0,0,0,0,177.612 - 202.778,s1,1,12 - 20
9,0,0,1.019 - 1.021,< 0,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,26.6175 - 51.7832,s4,1,12 - 20
10,0,0,≥ 1.023,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,26.6175 - 51.7832,s4,0,20 - 27
11,1,2,1.009 - 1.011,≥ 4,ckd,0,< 0,1,1,1,...,0,0,0,0,0,1,51.7832 - 76.949,s3,1,20 - 27
12,0,0,≥ 1.023,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,76.949 - 102.115,s2,0,20 - 27
13,0,0,≥ 1.023,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,152.446 - 177.612,s1,0,20 - 27
14,1,1,1.019 - 1.021,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,76.949 - 102.115,s1,0,20 - 27
15,0,0,1.015 - 1.017,2 - 2,ckd,0,4 - 4,1,0,0,...,0,1,0,0,1,0,76.949 - 102.115,s2,1,20 - 27
16,1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,26.6175 - 51.7832,s4,0,20 - 27
17,0,0,1.019 - 1.021,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,202.778 - 227.944,s1,0,20 - 27
18,0,0,1.019 - 1.021,< 0,notckd,0,< 0,0,0,0,...,0,0,0,0,0,0,202.778 - 227.944,s1,0,20 - 27
19,0,0,1.019 - 1.021,< 0,ckd,0,< 0,0,0,0,...,0,0,0,1,1,1,< 26.6175,s4,1,20 - 27

In [2]:
df.drop([0, 1], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,...,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,1.019 - 1.021,1 - 1,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
1,0,0,1.009 - 1.011,< 0,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
2,0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,...,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
3,1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,...,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
4,0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,...,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20

In [3]:
df.columns

Index(['bp (Diastolic)', 'bp limit', 'sg', 'al', 'class', 'rbc', 'su', 'pc',
       'pcc', 'ba', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc',
       'wbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'grf', 'stage',
       'affected', 'age'],
      dtype='object')